## Netflix Dataset

### Big-Data Analysis with Python

This Netflix Dataset has information about the TV Shows and Movies available on Netflix till 2021.

This dataset is collected from Flixable which is a third-party Netflix search engine, and available on Kaggle website for free.

-------

In [ ]:
# Importing the dataset
import pandas as pd
data = pd.read_csv(r"Netflix_Dataset.csv")                     # to import pandas library

In [ ]:
data

#### Getting some basic information about the dataset

### 1. head()

In [ ]:
data.head()                                     # to show top-5 records of the dataset

### 2. tail()

In [ ]:
data.tail()                                      # to show bottom-5 records of dataset

### 3. shape

In [ ]:
data.shape                                      # to show the No. of Rows and Columns

### 4. size

In [ ]:
data.size                                      # to show No. of total values(elements) in the dataset

### 5. columns

In [ ]:
data.columns                                   # to show each Column Name

### 7. dtypes

In [ ]:
data.dtypes                                    # to show the data-type of each column

### 8. info()

In [ ]:
data.info()                                   # To show indexes, columns, data-types of each column, memory at once

----

### Task.1. Is there any Duplicate Record in this dataset ? If yes, then remove the duplicate records.

### duplicate()

In [ ]:
data.head()

In [ ]:
data.shape

In [ ]:
data[data.duplicated()]                                         # To check row wise and detect the Duplicate rows

In [ ]:
data.drop_duplicates(inplace = True)                                # To Remove the Duplicate rows permanently

In [ ]:
data[data.duplicated()]

In [ ]:
data.shape

----

### Task.2. Is there any Null Value present in any column ? Show with Heat-map.

### isnull()

In [ ]:
data.head()

In [ ]:
data.isnull()                                               # To show where Null value is present

In [ ]:
data.isnull().sum()                                               # To show the count of Null values in each column

### seaborn library (heat-map)

In [ ]:
import seaborn as sns                                               # To import Seaborn library

In [ ]:
sns.heatmap(data.isnull())                                               # Using heat-map to show null values count

----

----

### Q.1. For 'House of Cards', what is the Show Id and Who is the Director of this show ?

### isin()

In [ ]:
data.head()

In [ ]:
data[data['Title'].isin(['House of Cards'])]       #  To show all records of a particular item in any column

### str.contains()

In [ ]:
data[data['Title'].str.contains('House of Cards')]          #  To show all records of a particular string in any column

----

### Q.2. In which year highest number of the TV Shows & Movies were released ? Show with Bar Graph.

### dtypes

In [ ]:
data.dtypes

### to_datetime

In [ ]:
data['Date_N'] = pd.to_datetime(data['Release_Date'], errors='coerce')

In [ ]:
data.head()

In [ ]:
data.dtypes

### dt.year.value_counts()

In [ ]:
data['Date_N'].dt.year.value_counts()                # It counts the occurrence of all individual Years in Date column.

### Bar Graph

In [ ]:
data['Date_N'].dt.year.value_counts().plot(kind='bar')

----

### Q.3. How many Movies & TV Shows are in the dataset ? Show with Bar Graph.

### groupby()

In [ ]:
data.head(2)

In [ ]:
data.groupby('Category').Category.count()                 # To group all unique items of a column and show their count

### countplot()

In [ ]:
sns.countplot(data['Category'])        # To show the count of all unique values of any column in the form of bar graph

----

### Q.4. Show all the Movies that were released in year 2000.

### Creating new column

In [ ]:
# data.head()
data.head(2)

In [ ]:
# data['Year'] = data['Date_N'].dt.year           # to create new Year column ; it will consider only year

data['Year'] = data['Date_N'].dt.year

In [ ]:
# data.head(2)

data.head(2)

### Filtering

In [ ]:
# data[ (data['Category']=='Movie') & (data['Year']==2020) ]

data[ (data['Category'] == 'Movie') & (data['Year']==2000) ]

In [ ]:
data[ (data['Category'] == 'Movie') & (data['Year']==2020) ]

----

### Q.5. Show only the Titles of all TV Shows that were released in India only.

### Filtering

In [ ]:
# data.head(2)

data.head(2)

In [ ]:
# data [ (data['Category'] == 'TV Show') & (data['Country'] == 'India') ] ['Title']

data[ (data['Category']=='TV Show') & (data['Country']=='India') ] ['Title']

----

### Q.6. Show Top 10 Directors, who gave the highest number of TV Shows & Movies to Netflix ?

### value_counts()

In [ ]:
# data['Director'].value_counts().head(10)

data.head(2)

In [ ]:
data['Director'].value_counts().head(10)

----

#### Q.7. Show all the Records, where "Category is Movie and Type is Comedies" or "Country is United Kingdom".

### Filtering ( And, Or Operators )

In [ ]:
# data[(data['Category']=='Movie') & (data['Type']=='Comedies') ]

data.head(2)

In [ ]:
data[ (data['Category']=='Movie') & (data['Type']=='Comedies') ]

In [ ]:
# data[(data['Category']=='Movie') & (data['Type']=='Comedies') | (data['Country']=='United Kingdom')]

data[ (data['Category']=='Movie') & (data['Type']=='Comedies') | (data['Country']=='United Kingdom')]

----

### Q.8. In how many movies/shows, Tom Cruise was cast ?

In [ ]:
# data.head()

data.head(2)

### filtering

In [ ]:
# data[data['Cast']=='Tom Cruise']

data[data['Cast'] == 'Tom Cruise']

### str.contains()

In [ ]:
# data[data['Cast'].str.contains('Tom Cruise')]

data[data['Cast'].str.contains('Tom Cruise', na=False)]

### Creating new data-frame

In [ ]:
# data_new = data.dropna()                       # It drops the rows that contains all or any missing values.

data_new = data.dropna()

In [ ]:
# data_new.head(2)

data_new.head(2)

In [ ]:
# data_new[data_new['Cast'].str.contains('Tom Cruise')]

data_new[data_new['Cast'].str.contains('Tom Cruise')]

----

### Q.9. What are the different Ratings defined by Netflix ?

### nunique()

In [ ]:
# data.Rating.nunique()

data.head(2)

In [ ]:
data['Rating'].nunique()

### unique()

In [ ]:
# data.Rating.unique()

data['Rating'].unique()

#### Q.9.1. How many Movies got the 'TV-14' rating, in Canada ?

In [ ]:
data.head(2)

In [ ]:
# data[(data['Category']=='Movie') & (data['Rating'] == 'TV-14')].shape

data[(data['Category']=='Movie') & (data['Rating']=='TV-14')].shape

In [ ]:
# data[(data['Category']=='Movie') & (data['Rating'] == 'TV-14') & (data['Country']=='Canada')].shape

data[(data['Category']=='Movie') & (data['Rating']=='TV-14') & (data['Country']=='Canada')].shape

#### Q.9.2. How many TV Show got the 'R' rating, after year 2018 ?

In [ ]:
# data[(data['Category']=='TV Show') & (data['Rating'] == 'R')]

data.head(2)

In [ ]:
data[(data['Category']=='TV Show') & (data['Rating']=='R')]

In [ ]:
# data[(data['Category']=='TV Show') & (data['Rating'] == 'R') & (data['Year'] > 2018)]

data[(data['Category']=='TV Show') & (data['Rating']=='R') & (data['Year'] > 2018)]

----

### Q.10. What is the maximum duration of a Movie/Show on Netflix ?

In [ ]:
# data.head(2)

data.head(2)

In [ ]:
# data['Duration'].unique()

data.Duration.unique()

In [ ]:
# data.Duration.dtypes

data.Duration.dtypes

### str.split()

In [ ]:
data.head(2)

In [ ]:
# data[['Minutes','Unit']] = data['Duration'].str.split(' ', expand=True)

data[['Minutes', 'Unit']] = data['Duration'].str.split(' ', expand = True)

In [ ]:
# data.head(2)

data.head(2)

### max()

In [ ]:
# data.Minutes.max()

data['Minutes'].max()

In [ ]:
data['Minutes'].min()

In [ ]:
data['Minutes'] = pd.to_numeric(data['Minutes'], errors='coerce')
data['Minutes'].mean()
data['Minutes'] = pd.to_numeric(data['Minutes'], errors='coerce')
data = data.dropna(subset=['Minutes'])
data['Minutes'].mean()
data['Minutes'] = data['Minutes'].apply(lambda x: pd.to_numeric(x, errors='coerce'))
data['Minutes'].mean()
print(data['Minutes'].dtype)

In [ ]:
data['Minutes'].mean()

In [ ]:
data.dtypes

----

### Q.11. Which individual country has the Highest No. of TV Shows ?

In [ ]:
# data.head(2)

data.head(2)

In [ ]:
# data_tvshow = data[data['Category'] == 'TV Show']

data_tvshow = data[data['Category'] == 'TV Show']

In [ ]:
# data_tvshow.head(2)

data_tvshow.head(2)

In [ ]:
# data_tvshow.Country.value_counts()

data_tvshow.Country.value_counts()

In [ ]:
# data_tvshow.Country.value_counts().head(1)

data_tvshow.Country.value_counts().head(1)

----

### Q.12. How can we sort the dataset by Year ?

In [ ]:
# data.head(2)

data.head(2)

In [ ]:
# data.sort_values(by='Year').head(2)

data.sort_values(by = 'Year')

In [ ]:
# data.sort_values(by='Year', ascending=False).head(2)

data.sort_values(by = 'Year', ascending = False).head(10)

----

### Q.13. Find all the instances where :

### Category is 'Movie' and Type is 'Dramas'

### or

###  Category is 'TV Show' & Type is 'Kids' TV'

In [ ]:
data.head(2)

In [ ]:
# data [(data['Category']=='Movie') & (data['Type']=='Dramas')].head(2)

data [ (data['Category']=='Movie') & (data['Type']=='Dramas') ].head(2)

In [ ]:
# data[(data['Category']=='TV Show') & (data['Type']=="Kids' TV")].head(2)

data [ (data['Category']=='TV Show') & (data['Type']== "Kids' TV") ]

In [ ]:
# data [(data['Category']=='Movie') & (data['Type']=='Dramas') | (data['Category']=='TV Show') & (data['Type']=="Kids' TV")].head(1)

data [ (data['Category']=='Movie') & (data['Type']=='Dramas') | (data['Category']=='TV Show') & (data['Type']== "Kids' TV") ]