# LONDON HOUSING DATASET

-----

This dataset is primarily centered around the housing market of London. It contains a lot of additional relevant data:

* Monthly average house prices
* Yearly number of houses sold
* Monthly number of crimes committed

The data used here is from year 1995 to 2019 of each different area.

This data is available as a CSV file, downloaded from Kaggle.

We will analyze this data using the Pandas DataFrame.

Here, random sets of quesitons are given for which we have to find correct results.

This project is for beginners and for those who want to know how we analyze big data with Python.

 ----

In [ ]:
import pandas as pd

In [ ]:
data = pd.read_csv(r"Housing_Dataset.csv")

In [ ]:
data

In [ ]:
# 1. 
# df.count()
# df.isnull().sum()

In [ ]:
data.count()

In [ ]:
data.isnull().sum()

In [ ]:
# data.count()

# Null Values means Missing Valuesa

In [ ]:
# data.isnull().sum()

In [ ]:
# 2.
# import seaborn as sns
# import matplotlib.pyplot as plt
# sns.heatmap(df.isnull())
# plt.show()

In [ ]:
import seaborn as sns
import matplotlib.pyplot as plt

In [ ]:
sns.heatmap(data.isnull())
plt.show()

-----

### (A) Convert the Datatype of 'Date' column to Date-Time format.

In [ ]:
#data.dtypes
#data.date = pd.to_datetime(data.date)

In [ ]:
data.head()

In [ ]:
data.date = pd.to_datetime(data.date)

In [ ]:
#data['data']

In [ ]:
data.dtypes

### (B.1) Add a new column ''year'' in the dataframe, which contains years only.

In [ ]:
# data['New_Column'] = df.Date_Column.dt.year

In [ ]:
data.head()

In [ ]:
data['year'] = data.date.dt.year
# data['month'] = data.date.dt.month

In [ ]:
data.head()

### (B.2) Add a new column ''month'' as 2nd column in the dataframe, which contains month only.

In [ ]:
# df.insert( index , ‘new_column_name’, new_column_values)
# data.insert (1 , 'month' , data.date.dt.month)

In [ ]:
data.insert(1 , 'month' , data.date.dt.month  )

In [ ]:
data.head()

### (C) Remove the columns 'year' and 'month' from the dataframe.

In [ ]:
#data.drop(['month', 'year'] , axis=1 , inplace = True)

In [ ]:
data.drop( ['month' , 'year'] , axis=1 , inplace = True )

In [ ]:
data.head()

### (D) Show all the records where 'No. of Crimes' is 0. And, how many such records are there ?

In [ ]:
# data[data.no_of_crimes == 0]
# len(data[data.no_of_crimes == 0])

In [ ]:
data.head()

In [ ]:
data[data.no_of_crimes == 0]
#len(data[data.no_of_crimes == 0])

### (E) What is the maximum & minimum 'average_price' per year in england ?

In [ ]:
# df1 = data[data.area =='england']
# df1.groupby('year').average_price.max()/min()/mean()

In [ ]:
data['year'] = data.date.dt.year

In [ ]:
data.head()

In [ ]:
df1 = data[data.area == 'england']
df1

In [ ]:
#df1.groupby('year').average_price.max()/min()/mean()

df1.groupby('year').average_price.mean()

#df1.groupby('year').average_price.min()

### (F) What is the Maximum & Minimum No. of Crimes recorded per area ?

In [ ]:
# data.groupby('area').no_of_crimes.max()
# data.groupby('area').no_of_crimes.min().sort_values(ascending= True)

In [ ]:
#data.groupby('area').no_of_crimes.max()

data.groupby('area').no_of_crimes.min().sort_values(ascending = False)

### (G) Show the total count of records of each area, where average price is less than 100000.

In [ ]:
#data[data.average_price < 100000].area.value_counts()

In [ ]:
data[data.average_price < 100000].area.value_counts()