# Sales Data Analysis with Python

### (A part of Big Data Analysis)

-------------

## Restaurant Sales Dataset
***
Here, 

We have the sales data of a restaurant company from different cities (countries).

This data is available in Excel file format. We are going to analyze and visualize this data.

### Importing the Required Libraries

In [ ]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

### Importing the dataset

In [ ]:
data = pd.read_excel(r"Sales_Dataset.xlsx")

In [ ]:
data

In [ ]:
data.info()                                      # to show some basic informations about the dataset

#### Drop Unwanted Column

In [ ]:
data.drop(columns='Unnamed: 0', inplace=True)         # to drop the column from the dataframe

In [ ]:
data.head()                                           # to show top 5 records of the dataframe

#### Changing the columns names

In [ ]:
data.loc[0]                               # using the loc function to show Ist row values

In [ ]:
data.columns                              # to show all the column names

In [ ]:
data.columns = data.loc[0]                # changing all the column names

In [ ]:
data.head()

#### Drop the unwanted Ist row

In [ ]:
data.drop(0, inplace=True)                     # to delete the first row from the dataframe

In [ ]:
data

In [ ]:
data.info()                               # to show some basic informations about the dataset

#### Consider the Manager column

In [ ]:
data.head()

In [ ]:
data.Manager

In [ ]:
data.Manager.unique()                     # to show all the unique values of the column

In [ ]:
data.Manager.nunique()                      # to show count of unique values present in the column

In [ ]:
data['Manager'] = data['Manager'].str.strip().str.replace(r'\s+', ' ', regex=True)   # to remove extra spaces in names

In [ ]:
data.head(20)

In [ ]:
data['Manager'].unique()             # to show all the unique values of the column

In [ ]:
data['Manager'].nunique()             # to show count of unique values present in the column

#### Removing the duplicate records

In [ ]:
data.head()                     # to show top 5 records of the dataframe

In [ ]:
data.describe()                            # to show some summary about the columns

In [ ]:
data[data.duplicated()]                    # to show all the duplicate records

In [ ]:
data.drop_duplicates(inplace=True)         # to remove the duplicate records

In [ ]:
data[data.duplicated()]                    # to check the duplicate records

In [ ]:
data.describe()                            # to show some summary about the columns

In [ ]:
data[data['Order ID'].duplicated()]        # to check the duplicate records in a column

In [ ]:
data[data['Order ID'] == 10483]            # using filtering to show some records

In [ ]:
data[data['Order ID'] == 10484]            # using filtering to show some records

In [ ]:
data[data['Order ID'] == 10485]           # using filtering to show some records

In [ ]:
data.drop(32, inplace=True)               # to remove any row with the index number

In [ ]:
data[data['Order ID'] == 10483]

In [ ]:
data.drop([33, 34], inplace=True)         # to remove one or more rows with the index numbers

In [ ]:
data[data['Order ID'] == 10484]

In [ ]:
data[data['Order ID'] == 10485]

In [ ]:
data[data['Order ID'].duplicated()]             # to check the duplicate records in a column

In [ ]:
data

#### Converting the datatype of columns

In [ ]:
data.info()                               # to get some basic info about the dataframe

In [ ]:
data.Quantity = data.Quantity.astype(float)  # to change the datatype of a column

In [ ]:
data.info()                                  # to get some basic info about the dataframe

In [ ]:
data.Quantity = data.Quantity.round()              # to round-off the values of a column

In [ ]:
data.Quantity

In [ ]:
data.Quantity = data.Quantity.astype(int)             # to change the datatype of a column

In [ ]:
data['Quantity']

In [ ]:
data['Order ID'] = data['Order ID'].astype(int)        # to change the datatype of a column
data['Price'] = data['Price'].astype(float)            # to change the datatype of a column

In [ ]:
data.info()                                       # to get some basic info about the dataframe

In [ ]:
data.Date = pd.to_datetime(data.Date)          # to convert the datatype into datetime format

In [ ]:
data.Date.dtype                                # to check the datatype of any column

In [ ]:
data.info()

In [ ]:
data

----------

# Analyzing the Data

#### Q.1) Most Preferred Payment Method ?

In [ ]:
data.head()                       # to show top 5 records of the dataframe

In [ ]:
data['Payment Method'].unique()                       # to show the unique values of a column

In [ ]:
data['Payment Method'].nunique()                      # to show the count of unique values in a column

In [ ]:
data['Payment Method'].value_counts()                 # to show the unique values of a column with their counts

In [ ]:
data['Payment Method'].value_counts(normalize=True)*100    # to get the result in percentage

In [ ]:
data['Payment Method'].value_counts().plot(kind='bar') ;   # to draw the bar graph

#### Q.2) Most Selling Product ?
- By Quantity
- By Revenue

#### By Quantity

In [ ]:
data.head()

In [ ]:
data.groupby('Product')['Quantity'].sum()            # to make the group of unique values of a column

In [ ]:
data.groupby('Product')['Quantity'].sum().sort_values(ascending=False)   # to sort the result

In [ ]:
most_quantity = data.groupby('Product')['Quantity'].sum().sort_values(ascending=False)
most_quantity

In [ ]:
type(most_quantity)                   # to the type of the variable

In [ ]:
most_quantity = most_quantity.reset_index()     # To convert the index of a Series into a column to form a DataFrame
most_quantity

In [ ]:
type(most_quantity)                   # to the type of the variable

In [ ]:
plt.figure(figsize = (9,4))
plt.bar(most_quantity['Product'], most_quantity['Quantity'], color = ['red', 'black', 'green', 'yellow', 'cyan'], width=0.4)
plt.title("Most Selling Product - By Quantity")              
plt.xlabel("Product")
plt.ylabel("Quantity");

#### By Revenue

In [ ]:
data.head()

In [ ]:
data['Revenue'] = data['Price'] * data['Quantity']       # to create a new column 'Revenue'

In [ ]:
data

In [ ]:
data.groupby('Product')['Revenue'].sum().sort_values(ascending = False) # to make the group of unique values of a column

In [ ]:
most_revenue = data.groupby('Product')['Revenue'].sum().sort_values(ascending = False)
most_revenue

In [ ]:
most_revenue = most_revenue.reset_index()
most_revenue

In [ ]:
plt.figure(figsize=(9, 4))
plt.bar(most_revenue['Product'], most_revenue['Revenue'], color = ['green', 'red', 'black', 'yellow', 'cyan'], width = 0.3);
plt.title("Most Selling Product - By Revenue")       # setting the title       
plt.xlabel("Product")                                # setting the x-axis label
plt.ylabel("Revenue");                               # setting the y-axis label

#### Q.3) Which city had maximum revenue
##### or
##### Which Manager earned maximum revenue

In [ ]:
data

In [ ]:
data.City.unique()                       # to check the unique values of the column 'City'

In [ ]:
data.City.nunique()                      # to check the count of unique values of the column 'City'

In [ ]:
data.groupby('City')['Revenue'].sum().sort_values(ascending=False)   # using groupby on 'City' & 'Revenue' column

In [ ]:
data.Manager.nunique()                   # to check the count of unique values of the column 'Manager'

In [ ]:
data.Manager.unique()                   # to check the unique values of the column 'Manager'

In [ ]:
data.groupby('Manager')['Revenue'].sum().sort_values(ascending=False)   # using groupby on 'Manager' & 'Revenue' column

#### Q.4) Date wise revenue

In [ ]:
data.head()

In [ ]:
data.Date.dtype

In [ ]:
data.info()

In [ ]:
data.plot('Date', 'Revenue', color='red', linewidth=2, figsize=(9,4)) 
plt.title("Date wise Revenue")                        # setting the title
plt.xlabel("Date")                                    # setting the x-axis label
plt.ylabel("Revenue")                                 # setting the y-axis label
plt.show()

#### Q.5) Average Revenue

In [ ]:
data.head()

In [ ]:
data['Revenue'].mean()

#### Q.6) Average Revenue of November & December month

In [ ]:
data.head()

In [ ]:
data['Month'] = data['Date'].dt.month              # creating a new column showing Month only

In [ ]:
data

In [ ]:
m11 = data[data['Month'] == 11]          # filtering the records with month '11'
m11

In [ ]:
m11.Revenue.mean()                           # to show the mean revenue

In [ ]:
m12 = data[data.Month == 12]                  # filtering the records with month '12'
m12

In [ ]:
m12.Revenue.mean()                                  # to show the mean revenue

#### Q.7) Standard Deviation of Revenue and Quantity ?

In [ ]:
data['Quantity'].std()

In [ ]:
data['Revenue'].std()

#### Q.8) Variance of Revenue and Quantity ?

In [ ]:
data['Quantity'].var()

In [ ]:
data['Revenue'].var()

#### Q.9) Is revenue increasing or decreasing over time?

In [ ]:
data.head()

In [ ]:
m11 = data[data['Month'] == 11]          # filtering the records with month '11'
m11

In [ ]:
m11['Revenue'].sum()

In [ ]:
m12 = data[data.Month == 12]                  # filtering the records with month '12'
m12

In [ ]:
m12.Revenue.sum()

#### Q.10) Average 'Quantity Sold' & 'Average Revenue' for each product ?

In [ ]:
data.head()

In [ ]:
data.groupby('Product').agg({'Quantity':'mean', 'Revenue':'mean'})